input {
  border-bottom: #d4d4d4 1px solid;
  width: 100%;
  display: inline;
  float: left;
  margin-bottom: 20px;
  padding-bottom: 8.5px;
  color: black !important;
  overflow: auto;
  font-family: "Roboto";
  line-height: 1.5em;
  font-size: 16px;
  color: black;
}

input:focus {
  outline: none;
}

.intro-wrap {
  width: 35%;
  display: inline;
  float: left;
  margin-right: 15%;
  overflow: auto;
}

.about-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 80vw;
  margin: auto;
}

textarea {
    margin-top:10px;
  border: #d4d4d4 1px solid;
  width: 100%;
  display: inline;
  float: left;
  height: 200px;
  overflow: hidden;
  padding: 15px;
  font-family: "Roboto";
  line-height: 1.5em;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  /* width: 45%; */
  display: block;
  float: left;
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
}

button:focus{
    font-weight: 700;
}

form {
  width: 45%;
  display: inline;
  float: left;
  overflow: auto;
  margin-right: 1px;
}

.intro-text {
  font-family: "Roboto";
  line-height: 1.5em;
  font-size: 16px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000000;
    opacity: 1; /* Firefox */
  }