.index-wrap {
    width: 90vw;
    margin: auto;
}

.container{
    width:100%;
}

.thumb-left {
height: auto;
width: 47.5%;
margin-bottom: 80px;
float: left
}


.thumb-right {
    width: 47.5%;
    height:auto;
    margin-bottom: 80px;
    float: right;
}

.thumb{
    width: 100%
}