.index-manifesto {
    height: 80vh;
    font-size: 50px;
    padding-top: 25%;
    width: 80%;
    font-family: "Roboto";
}
.container{
    width:100%;
    margin-bottom: 60px
}
.accent-text{
    font-family: "Marcellus", serif;
    border-bottom: 1px solid black;
}

.thumb-left {
height: auto;
width: 48.75%;
margin-bottom: 60px;
float: left
}

.filter-wrap{
    display: flex;
  align-items: center;
  justify-content: center;
    margin-bottom: 70px;
}


.filter{
margin-right: 15px;
font-size: 14px;
margin-top: 15px ;
text-transform:uppercase;
letter-spacing: 0.1em;
line-height: 1.15em;
}


.thumb-right {
    width: 48.75%;
    height:auto;
    margin-bottom: 60px;
    float: right;
}

.thumb{
    width: 100%;
    
}



.project-title{
    font-size: 14px;
    margin-top: 15px ;
    text-transform:uppercase;
    letter-spacing: 0.1em;
    line-height: 1.15em;
}
