.pd-container {
  width: 80vw;
  margin: auto;
  margin-top:160px
}

.image-wrap-left {
  width: 50%;
  display: inline;
  float: left;
}

.text-wrap-right {
  width: 30%;
  float: left;
  display: inline;
  padding-left: 60px;
  padding-top: 25%;
  height: auto;
}

.image-wrap-right {
  width: 50%;
  display: inline;
  float: right;
}

.text-wrap-left {
  width: 30%;
  float: left;
  display: inline;
  padding-left: 60px;
  padding-top: 25%;
  height: auto;
}

.text-img-wrap {
  overflow: auto;
  width: 100%;
  /* background-color:red; */
  margin-bottom: 120px;
}

.cross-title {
  font-family: "Marcellus", serif;
  font-size: 25px;
  text-align: center;
  margin-bottom: 45px;
}

.cross-wrap {
  margin-bottom: 60px;
}

.project-name {
  font-family: "Marcellus", serif;
  font-size: 25px;
  display: inline;
  float: left;
  width: 20%;
  letter-spacing: -1px;
}

.project-credit {
  display: inline;
  float: left;
  width: 40%;
  padding-right: 20px;
}

.project-detail {
  display: inline;
  float: left;
  width: 30%;
}

.project-detail-wrap {
  margin-top: 70px;
  margin-bottom: 90px;
  overflow: auto;
}

.head-wrap {
  margin-bottom: 160px;
  width: 100%;
  height: auto;
}

.caption {
  font-size: 16px;
  margin-top: 15px;
}

video {
  width: 100%;
  height: auto;
}

.web-img{
  width: 100%;
  height: auto;
}

.split-bg-left {
  float: left;
  width: 50%;
  height: 50vh;
  overflow: auto;
}

.split-bg-right {
  float: left;
  width: 49%;
  height: 50vh;
  overflow: auto;
  position: relative;
}

.split-wrap {
  margin-bottom: 120px;
  overflow: auto;
}

.split-text-left {
  width: 65%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.split-text-right {
  width: 65%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
}

.icon {
  height: auto;
  width: 10%;
  display: inline;
  float: left;
  margin-right: 15px;
  overflow: auto;
}

.icon-set {
  margin-bottom: 20px;
  display: block;
  height: auto;
  overflow: auto;
}

.module-title {
  font-family: "Marcellus", serif;
  font-size: 25px;
  text-align: left;
  margin-bottom: 20px;
}

.quote {
  font-family: "Marcellus", serif;
  font-size: 48px;
  line-height: 1.25em;
  text-align: center;
  margin: auto;
  width: 75%;
  padding-bottom: 120px;
}

.img-wrap{
width:100%
}

.cross-wrap{
    margin-bottom: 120px;
    overflow: auto;
}

.linkout-button{
  margin-right: 15px;
  text-align: center;
  font-size: 14px;
  margin-top: 15px ;
  text-transform:uppercase;
  letter-spacing: 0.1em;
  line-height: 1.15em;
  /* background-color: blue; */
  border-radius: 30px;
  border:1px solid black;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.img-window {
    box-shadow: 3px 9px 13px 6px #dbdbdb;
    /* border-radius: 0.5rem; */
    margin-bottom: 80px;
  }
