.index-wrap {
  width: 80vw;
  margin: auto;
}

.title-wrap{
    position: relative;
}

.press-title {
  font-family: "Marcellus", serif;
  font-size: 16px;
  margin-bottom: 30px;
  text-decoration: underline;
}

/* .title-wrap:hover .press-img{
    visibility: visible;
    opacity: 1
} */

.press-img{
    position:absolute;
    top:-60px;
    left:320px;
    width: 350px;
    visibility: hidden;
    z-index: 100;
    opacity: 0;
    transition: 600ms;
}

.press-head {
  font-size: 25px;
  font-family: "Marcellus", serif;
  margin-top: 120px;
  margin-bottom: 30px;
}

.year {
  font-size: 12px;
  margin-bottom: 2px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.linkout{
    margin-left: 8px;
}
